body {
  background-color: #00a8ff;
}

.circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 4px solid black;
  position: relative;

  .hour {
    background: #000;
    height: 30%;
    left: 50%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 5px;
    margin-left: -2.5px;
  }
  .min {
    background: #000;
    height: 40%;
    left: 50%;
    position: absolute;
    top: 20%;
    transform-origin: 50% 100%;
    width: 3px;
    margin-left: -1.5px;
  }
  .secs {
    background: #000;
    height: 40%;
    left: 50%;
    position: absolute;
    top: 20%;
    transform-origin: 50% 100%;
    width: 3px;
    margin-left: -1.5px;
  }
}

