body {
  background-color: #00a8ff;
}

.circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 4px solid black;
  position: relative;

  .hour {
    position: absolute;
    height: 2px;
    width: 190px;
    background-color: red;
    right: 50%;
    top: 50%;
    margin-top: -1px;
  }
}

